[project]
	description = Automatically exported from code.google.com/p/tutorial-haartraining
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/RajaniKanth Reddy (reddypdl)
[access "refs/for/refs/*"]
	read = group user/RajaniKanth Reddy (reddypdl)
	push = group user/RajaniKanth Reddy (reddypdl)
	label-Code-Review = -2..+2 group user/RajaniKanth Reddy (reddypdl)
	label-Verified = -1..+1 group user/RajaniKanth Reddy (reddypdl)
	rebase = group user/RajaniKanth Reddy (reddypdl)
	removeReviewer = group user/RajaniKanth Reddy (reddypdl)
	submit = group user/RajaniKanth Reddy (reddypdl)
[access "refs/heads/*"]
	read = group user/RajaniKanth Reddy (reddypdl)
	create = group user/RajaniKanth Reddy (reddypdl)
	push = +force group user/RajaniKanth Reddy (reddypdl)
	pushMerge = group user/RajaniKanth Reddy (reddypdl)
[access "refs/tags/*"]
	push = group user/RajaniKanth Reddy (reddypdl)
	push = +force group user/RajaniKanth Reddy (reddypdl)
